html {
  margin: 0;
  padding: 0;
}


body {
  background: #282828;
  text-align: center;
}
.drumkit {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  height: 100vh;
  height: calc(var(--vh, 1vh) * 100);
}
.pad {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5px;
  border-radius: 20px;
  flex: 1 0 calc(33.333% - 20px);
  background: radial-gradient(rgb(71, 36, 226),rgb(5, 8, 59))
};

.pad img {
  width: 150px;
  pointer-events: all;
}
footer{
  font-weight: 900;
  font-style: initial; 
}


