html {
  margin: 0;
  padding: 0;
}


body {
  background: #282828;
}
.drumkit {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  height: 100vh;
}
.pad {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
  border-radius: 600px;
  flex: 1 0 calc(33.333% - 30px);
  background: radial-gradient(rgb(40, 1, 214),rgb(110, 90, 1))
};

.pad img {
  width: 150px;
  pointer-events: none;
}